{% extends 'base.html' %}
  
{% block head %}
<title>Stop Scrolling!</title>
{% endblock %}

{% block body %}
<label for="generate_button">
    <button id="generate_button"> Give me an idea! </button>
</label>
<p id="counter">0</p>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
		crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
