{% extends 'base.html' %}
  
{% block head %}
<title>Stop Scrolling!</title>
{% endblock %}

{% block body %}

{{% if uuid %}}
    <p>You are currently logged in.</p>
    <p>Your user id is: {{uuid}}</p>
    <p>Your email is: {{email}}</p>
{{% endif %}}

<p id="counter">0</p>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
		crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
