{% extends 'base.html' %}
  
{% block head %}
<title>Welcome!</title>
{% endblock %}

{% block body %}
<p>Login time!</p>
<form action="/login" method="POST">
    <label for="email">Email
        <input id="email" name="email" placeholder="doomscroller@aol.com" type="email">
    </label>
    <input id="validEmail" type="hidden" value="false">
    <p id="emailFeedback"></p>
    <label for="password">Password
        <input id="password" name="password" type="password">
    </label>
    <p id="passwordFeedback"></p>
    <input id="validPassword" type="hidden" value="false">
    <button id="submit" type="submit">Go time.</button>
</form>
<p id="goodToGo"></p>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
		crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}